<center>
<p >
<h1 style="font-size: 13px; font-weight:bold; padding-top:0px; ">
	Что мы можем вам предложить: аренда и продажа (новое и б/у): 
	палатки, рюкзаки, спальники, коврики,
	велосипеды, горелки, тенты, лыжи, термобелье, 
	термоноски и др. 
	Киев, Буча, Ирпень, Украина. 
</h1>
<section>
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td style="padding-left: 25px;">
				
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Одежда" title="Одежда"  href="/odezhda-dlja-turizma" rel="nofollow">Одежда</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/odezhda-dlja-turizma'"><a href="/odezhda-dlja-turizma" rel="nofollow"><img border="0" title="Одежда" alt="Одежда" src="/products_pictures/odegda.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Вся одежда" title="Вся одежда"  href="/odezhda-vsja"  rel="nofollow"><b>В</b>ся одежда</a><br>	        	    								
			        	    							    <a  alt="термобелье" title="термобелье"  href="/termobelie" ><b>Т</b>ермобелье</a><br>	        	    								
			        	    							    <a  alt="Термоноски" title="Термоноски"  href="/termonoski" ><b>Т</b>ермоноски</a><br>	        	    								
			        	    							    <a  alt="Куртки, ветровки" title="Куртки, ветровки"  href="/odezhda-kurtki-vetrovki" ><b>К</b>уртки, ветровки</a><br>	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/odezhda-dlja-turizma"  rel="nofollow"><b>В</b>се разделы</a><br>	  	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>			
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Обувь" title="Обувь"  href="/obuv-turisticheskaja-v-kieve" rel="nofollow">Обувь</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/obuv-turisticheskaja-v-kieve'"><a href="/obuv-turisticheskaja-v-kieve" rel="nofollow"><img border="0" title="Обувь" alt="Обувь" src="/products_pictures/obuv-turisticheskaya.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Вся обувь" title="Вся обувь"  href="/obuv-turisticheskaja-v-kieve"  rel="nofollow"><b>В</b>ся обувь</a><br>	        	    								
			        	    							    <a  alt="Горные ботинки" title="Горные ботинки"  href="/botinki-gornie-v-kieve" ><b>Г</b>орные ботинки</a><br>	        	    								
			        	    							    <a  alt="Треккинговые кроссовки" title="Треккинговые кроссовки"  href="/krossovki-trekingovye-v-kieve" ><b>Т</b>реккинговые кроссовки</a><br>	        	    								
			        	    							    <a  alt="Сандали" title="Сандалии"  href="/sandali-v-kieve" ><b>С</b>андалии</a><br>	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/obuv-turisticheskaja-v-kieve"  rel="nofollow"><b>В</b>се разделы</a><br>	  	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>	
									
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Палатки" title="Палатки"  href="/palatki" rel="nofollow">Палатки</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/palatki'"><a href="/palatki" rel="nofollow"><img border="0" title="Палатки" alt="Палатки" src="/products_pictures/palatka-Trimm-camp.jpg" style="border: 0px solid red;"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Все палатки" title="Все палатки"  href="/vse-palatki"  rel="nofollow"><b>В</b>се палатки</a><br>	        	    								
			        	    								<a  alt="Двухместные палатки" title="Двухместные палатки"  href="/dvuhmestnie-palatki" ><b>Д</b>вухместные палатки</a><br>	        	    								
			        	    								<a  alt="Кемпинговые палатки" title="Кемпинговые палатки"  href="/kempingovie-palatki" ><b>К</b>емпинговые палатки</a><br>	        	    								
			        	    								<a  alt="Палатки б/у" title="Палатки б/у"  href="/palatki-bu" ><b>П</b>алатки б/у</a><br>	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/palatki"  rel="nofollow"><b>В</b>се разделы</a><br>	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>	
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Рюкзаки" title="Рюкзаки"  href="/rjukzaki" rel="nofollow">Рюкзаки</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/rjukzaki'"><a href="/rjukzaki" rel="nofollow"><img border="0" title="Рюкзаки" alt="Рюкзаки" src="/products_pictures/rukzaki-turisticheskie.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Все рюкзаки" title="Все рюкзаки"  href="/vse-rjukzaki"  rel="nofollow"><b>В</b>се рюкзаки</a><br>	        	    								
			        	    								<a  alt="Рюкзаки туристические" title="Рюкзаки туристические"  href="/rjukzaki-turisticheskie" ><b>Р</b>юкзаки туристические</a><br>	        	    								
			        	    								<a  alt="Рюкзаки спортивные" title="Рюкзаки спортивные"  href="/rjukzaki-turisticheskie" ><b>Р</b>юкзаки спортивные</a><br>	        	    								
			        	    								<a  alt="Рюкзаки б/у" title="Рюкзаки б/у"  href="/rjukzaki-bu" ><b>Р</b>юкзаки б/у</a><br>	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/rjukzaki"  rel="nofollow"><b>В</b>се разделы</a><br>	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>	
										
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Спальники" title="Спальники"  href="/sleeping-bag" rel="nofollow">Спальники</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/sleeping-bag'"><a href="/sleeping-bag" rel="nofollow"><img border="0" title="Спальники" alt="Спальники" src="/products_pictures/spalyniki.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Все спальники" title="Все спальники"  href="/all-sleeping-bag"  rel="nofollow"><b>В</b>се спальники</a><br>	        	    								
			        	    								<a  alt="Туристические спальники" title="Туристические спальники"  href="/tourist-sleeping-bag" ><b>Т</b>уристические спальники</a><br>	        	    								
			        	    								<a  alt="Детские спальники" title="Детские спальники"  href="/kinder-sleeping-bag"  rel="nofollow"><b>Д</b>етские спальники</a><br>	        	    								
			        	    								<a  alt="Спальники б/у" title="Спальники б/у"  href="/spalniki-bu" ><b>С</b>пальники б/у</a><br>	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/sleeping-bag"  rel="nofollow"><b>В</b>се разделы</a><br>	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>	
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Коврики" title="Коврики"  href="/kovriki-karematy" rel="nofollow">Коврики</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/kovriki-karematy'"><a href="/kovriki-karematy" rel="nofollow"><img border="0" title="Коврики" alt="Коврики" src="/products_pictures/kovriki.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Все коврики" title="Все коврики"  href="/kovriki-karematy"  rel="nofollow"><b>В</b>се коврики</a><br>	        	    								
			        	    							    <a  alt="Самонадувающиеся коврики" title="Самонадувающиеся коврики"  href="/kovriki-karematy" ><b>С</b>амонадувающиеся коврики</a><br>	        	    								
			        	    								<a  alt="Сидушки" title="Сидушки"  href="/sidushka-tolstaja-turisticheskaja-izhevsk"  rel="nofollow"><b>С</b>идушки</a><br>	        	    								
			        	    								<a  alt="Чехол для коврика" title="Чехол для коврика"  href="/chehol-dlja-kovrika-travel-extreme"  rel="nofollow"><b>Ч</b>ехол для коврика</a><br>	        	    								
			        	    								<a  alt="Коврики б/у" title="Коврики б/у"  href="/spalniki-bu"  rel="nofollow"><b>К</b>оврики б/у</a><br>	        	    								
			        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>		
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Тенты" title="Тенты"  href="/tenty-turisticheskie" rel="nofollow">Тенты</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/tenty-turisticheskie'"><a href="/tenty-turisticheskie" rel="nofollow"><img border="0" title="Тенты" alt="Тенты" src="/products_pictures/tenti.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Все тенты" title="Все тенты"  href="/tenty-turisticheskie"  rel="nofollow"><b>В</b>се тенты</a><br>	        	    								
			        	    							    <a  alt="Тенты туристические" title="Тенты туристические"  href="/tenty-turisticheskie" ><b>Т</b>енты туристические</a><br>	        	    								
			        	    								<a  alt="Шатры-тенты" title="Шатры-тенты"  href="/tenty-turisticheskie" ><b>Ш</b>атры-тенты</a><br>	        	    								
			        	    								<a  alt="Тенты б/у" title="Тенты б/у"  href="/tenti-bu"  rel="nofollow"><b>Т</b>енты б/у</a><br>	        	    								
			        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Мебель" title="Мебель"  href="/mebel-kempingovaja" rel="nofollow">Мебель</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/mebel-kempingovaja'"><a href="/mebel-kempingovaja" rel="nofollow"><img border="0" title="Мебель" alt="Мебель" src="/products_pictures/mebel.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Вся мебель" title="Вся мебель"  href="/vsja-mebel-kempingovaya-kupit-kiev-Tramp-Sol-Totem-Pinguin"  rel="nofollow"><b>В</b>ся мебель</a><br>	        	    								
			        	    							    <a  alt="Шезлонг кемпинговый" title="Шезлонг кемпинговый"  href="/shezlong-kempingovyj-kupit-kiev" ><b>Ш</b>езлонг кемпинговый</a><br>	        	    								
			        	    							    <a  alt="Стул кемпинговый" title="Стул кемпинговый"  href="/stul-kempingovyj" ><b>С</b>тул кемпинговый</a><br>	        	    								
			        	    							    <a  alt="Набор мебели" title="Набор мебели"  href="/nabor-mebeli-dlja-piknika-shashlykov-Tramp-Pingion-kupit-kiev"  rel="nofollow"><b>Н</b>абор мебели</a><br>	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/mebel-kempingovaja"  rel="nofollow"><b>В</b>се разделы</a><br>	  	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>				
									
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Газовое оборудование" title="Газовое оборудование"  href="/gazovoe-oborudovanie" rel="nofollow">Газовое оборудование</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/gazovoe-oborudovanie'"><a href="/gazovoe-oborudovanie" rel="nofollow"><img border="0" title="Газовое оборудование" alt="Газовое оборудование" src="/products_pictures/gaz.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Все газовое оборудование" title="Все газовое оборудование"  href="/gazovoe-oborudovanie-vse"  rel="nofollow"><b>В</b>се газовое оборудование</a><br>	        	    								
			        	    							    <a  alt="Горелки газовые" title="Горелки газовые"  href="/gorelki-gazovye" ><b>Г</b>орелки газовые</a><br>	        	    								
			        	    							    <a  alt="Плиты газовые" title="Плиты газовые"  href="/gazovye-plity" ><b>П</b>литы газовые</a><br>	        	    								
			        	    							    <a  alt="Баллоны газовые" title="Баллоны газовые"  href="/ballonny-gazovye-turisticheskie" ><b>Б</b>аллоны газовые</a><br>	        	    								
			        	    								<a  alt="Огниво" title="Огниво"  href="/ognivo" ><b>О</b>гниво</a><br>	  	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/gazovoe-oborudovanie" rel="nofollow" ><b>В</b>се разделы</a><br>	  	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>	
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Посуда" title="Посуда"  href="/posuda" rel="nofollow">Посуда</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/posuda'"><a href="/posuda" rel="nofollow"><img border="0" title="Посуда" alt="Посуда" src="/products_pictures/posuda.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Вся посуда" title="Вся посуда"  href="/posuda-vsja" rel="nofollow" ><b>В</b>ся посуда</a><br>	        	    								
			        	    							    <a  alt="Наборы посуды" title="Наборы посуды"  href="/posuda-nabory" ><b>Н</b>аборы посуды</a><br>	        	    								
			        	    							    <a  alt="Термоса" title="Термоса"  href="/posuda-termosa" ><b>Т</b>ермоса</a><br>        	    								
			        	    								<a  alt="Вилки, ложки, ножи" title="Вилки, ложки, ножи"  href="/posuda-stolovyje-pribory"  rel="nofollow"><b>В</b>илки, ложки, ножи</a><br>	  	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/posuda"  rel="nofollow"><b>В</b>се разделы</a><br>	  	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>				
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Сумки" title="Сумки"  href="/sumki" rel="nofollow">Сумки</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/sumki'"><a href="/sumki" rel="nofollow"><img border="0" title="Сумки" alt="Сумки" src="/products_pictures/sumki.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">													
			        	    							    <a  alt="Все сумки" title="Все сумки"  href="/sumki-vse"  rel="nofollow"><b>В</b>се сумки</a><br>	        	    								
			        	    							    <a  alt="Сумки дорожные" title="Сумки дорожные"  href="/sumki-dorozhnye" ><b>С</b>умки дорожные</a><br>	        	    								
			        	    							    <a  alt="Сумки спортивные" title="Сумки спортивные"  href="/sumki-sportivnye" ><b>С</b>умки спортивные</a><br>        	    								
			        	    								<a  alt="Сумки-рюкзаки" title="Сумки-рюкзаки"  href="/sumki-rjukzaki"  rel="nofollow"><b>С</b>умки-рюкзаки</a><br>	  	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/sumki"  rel="nofollow"><b>В</b>се разделы</a><br>	  	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>		
												
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">						
		        	    						<tr>
		        	    							<td style="" valign="top" align="center" onclick="window.location.href='/prokat'"  ><a href="/prokat" rel="nofollow"><img border="0" title="Прокат туристического снаряжения" alt="Прокат туристического снаряжения" src="/products_pictures/prokat.jpg"></a>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td style="" valign="top" align="left" class="opisanie-tovar-empty1">	<br>											
			        	    							    <a  alt="Весь прокат" title="Весь прокат"  href="/prokat"  rel="nofollow"><b>В</b>есь прокат</a><br>	        	    								
			        	    							    <a  alt="Прокат палаток" title="Прокат палаток"  href="/prokat-palatok" ><b>П</b>рокат палаток</a><br>	        	    								
			        	    							    <a  alt="Прокат рюкзаков" title="Прокат рюкзаков"  href="/prokat-rukzakov" ><b>П</b>рокат рюкзаков</a><br>	        	    								
			        	    							    <a  alt="прокат спальников" title="прокат спальников"  href="/prokat-spaljnikov" ><b>П</b>рокат спальников</a><br>	        	    								
			        	    								<a  alt="Все разделы" title="Все разделы"  href="/prokat"  rel="nofollow"><b>В</b>се разделы</a><br>	  	        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>	
									<div class="box_car_div_empty1">
		        	    					<table border="0" class="tabl-tovar-empty1">
		        	    						<tr>
		        	    							<td align="center">
		        	    								<a  alt="Товары со скидкой и акции" title="Товары со скидкой и акции"  href="/akcionnye-tovary" rel="nofollow">Товары со скидкой и акции</a><br>
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td height="65px" style="" valign="top" align="center" onclick="window.location.href='/akcionnye-tovary'"><a href="/akcionnye-tovary"  rel="nofollow"><img border="0" title="Товары со скидкой и акции" alt="Товары со скидкой и акции" src="/products_pictures/sale.jpg"></a><br>
														
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td height="100%" style="" valign="top" align="left" class="opisanie-tovar-empty1" >	<br>
													
			        	    							    <a  alt="Акционные товары" title="Акционные товары"  href="/akcionnye-tovary"  rel="nofollow"><b>А</b>кционные товары</a><br>	        	    								
			        	    								<a  alt="Скидка на прокат" title="Скидка на прокат"  href="/new/yes/idn/13.html"  rel="nofollow"><b>С</b>кидка на прокат</a><br>	        	    								
			        	    								
			        	    								
		        	    							</td>
		        	    						</tr>	        	    						       	    						
		        	    					</table>											
									</div>				
			</td>
		</tr>
	</table>
</section>	
<section>	
	<table width="100%" cellpadding="0" cellspacing="0" border="0" >	
		<tr bgcolor="#eaeaea">
	       <td align="center">
	       		<h1>Популярные товары</h1>
	       </td>
	   	</tr>
		<tr bgcolor="#eaeaea">
			<td style="padding-left: 25px;padding-bottom:15px;">
									{section name=i loop=$termobelie}
										<div class="box_car_div_empty">
		        	    					<table width="250px" height="130" border="0" class="tabl-tovar-empty">
		        	    						<tr>
		        	    							<td style="padding: 8 0 0 0" valign="middle" align="center" rowspan="2" height="118px">
		        	    								<a href="{$termobelie[i].url_name}"  rel="nofollow"><img border="0" title="{$termobelie[i].producer} {$termobelie[i].name}" alt="{$termobelie[i].producer} {$termobelie[i].name}" src="/products_pictures/{$termobelie[i].thumbnail}" > </a><br>
														<img src="/images/line-100x1.jpg" alt="line-100x1" title="line-100x1">		
		        	    							</td>
		        	    							<td  valign="top" class="opisanie-tovar-empty" align="justify">
		        	    								<a  alt="{$termobelie[i].producer} {$termobelie[i].name}" title="{$termobelie[i].producer} {$termobelie[i].name}"  href="{$termobelie[i].url_name}">{$termobelie[i].producer} {$termobelie[i].name}</a><br><br>
		        	    								{$termobelie[i].brief_description|strip_tags|truncate:110}
		        	    							</td>
		        	    						</tr>
		        	    						<tr>
		        	    							<td  align="right" class="cennik-fon-grey" valign="bottom" height="12px">
		        	    								{$termobelie[i].Price} грн
		        	    							</td>
		        	    						</tr>
		        	    					</table>											
										</div>	
									{/section}	
			</td>
		</tr>	
	</table>
</section>	
<section>
    {literal}
        <script>
        
        $(document).ready(function(){  
           
            //getCommentsJSON();
           getCommentsLast();
          
        }); 
        
       function getCommentsLast()
       {
            $.ajax({
           type: "GET",
           url: "/public_scripts/ajax_comment_get.php",
           data: "last=1",
           
           success: function(responseText){
              
                   $("#comments").html(responseText);
                   
           }
         });
       }    
        </script>
    {/literal}
    <div id="title_comments" class="title_comments">Последние отзывы к товарам:</div>
    <div id="comments" align="left">Нет отзывов, возможно ваш будет первым</div>

</section>
																
<section>
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			
			<td align="center">
				 <b><h1 style="color:#CC5100;font-size: 30px;font-weight:bold;padding-top:10px;margin-top:0px;">Прокат туристического снаряжения</h1></b>
			</td>
		</tr>
	</table>
		*Weekend - стоимость снаряжения, выданного в пятницу и принятого в понедельник, считается за 2 дня, а не за 3. <br />
	Если ваш прокат составляет более 100грн вы получаете скидку 7% на покупку нового снаряжения в нашем интернет магазине.<br>
	Если вам понравилось прокатное снаряжение вы можете купить его со скидкой (- оплаченный прокат за выбранное снаряжение).<br>
	Можем обеспечить снаряжением корпоратив на 100 и более  человек. Скидки на корпоративы! Снаряжения хватит всем!
	 {include file="index_prokat_price.tpl.html"}
	*Weekend - стоимость снаряжения, выданного в пятницу и принятого в понедельник, считается за 2 дня, а не за 3.<br />
	Если ваш прокат составляет более 100грн вы получаете скидку 7% на покупку нового снаряжения в нашем интернет магазине.<br>
	Если вам понравилось прокатное снаряжение вы можете купить его со скидкой (- оплаченный прокат за выбранное снаряжение).
	<br>
	
	Не забудьте  <noindex><a href="http://www.prokat.ho.com.ua/conditions.php" style="font-size:14px;" rel="nofollow"><b>ознакомиться с правилами проката</b></a></noindex>!!!<br />
	<br />
	
	
	</div>
	
	
				
	
	
	<br />
	<br />
	
	
		<div class="layer6"  >
	<p style="align:center;"><h4>Можем обеспечить снаряжением корпоратив на 100 и более  человек. </h4>
									Снаряжения хватит всем!
	</p>
	<p><a href="/"  style="text-decoration:none;">Прокат туристического снаряжения</a>  является востребованной услугой для тех, у кого нет личного туристического снаряжения, и кто хочет отправиться на отдых.
	Палатки и  котлы - являются групповым снаряжением. Рюкзаки, спальники и  коврики - индивидуалным. </p>
	
	<p>Важным аспектом пользования прокатом является внимателный осмотр палатки и всего остального, что вы берете на прокат.
	Поскольку за все порезы, пропалы, утерянные составлющие  и др. - придется платить штраф, в размере эквивалентном стоимости ремонта снаряжения.</p>
	
	<p>Для начинающих туристов <a href="/" style="text-decoration:none;">прокат  палатки</a>, рюкзака, спальника и коврика является оптимальным решением в вопросе снаряжения,
	так как полный комплект нового или  бу снаряжения стоит довольно большую сумму.</p>
	
	<p>Очень важно  <a href="/prokat-rules">ознакомиться с правилами проката</a>.  Не забудьте это сделать, чтоб потом не возникали недоразумения после вашего отдыха.<br />
	Для тех, кто очень занят и может выбраться на отдых только на выходные, предоставляется возможность сэкономить деньги. Возьмите снаряжение в Пт. и сдайте в Пн.,
	 и заплатите только за 2 дня проката. </p>
	
	<p>Если вы не нашли на сайте проката нужного вам снаряжения, напишите нам или позвоните и  мы постараемся помочь вам.</p>
	
	<p>Вы уже созрели купить своё личное  снаряжение? Вы уже стали бывалым походником и вам уже не выгодно брать снаряжение в прокат!?
	Тогда вы можете купить туристическое снаряжение у нас. Мы предлагаем новое и б у: палатки, спальники, рюкзаки, коврики, велосипеды, байдарки, катамараны и др.
	Звоните!
	
	</p>
	<p>Вы хотите устроить корпоратив на природе в палатках?  Тогда мы можем предложить вам снаряжение на 100 и более человек.
	Пусть ваш праздник пройдет в гармонии с природой.</p>
	<p>Предоставляем скидки на <a href="/"  style="text-decoration:none;">прокат палаток</a>, рюкзаков, велорюкзаков, спальников, карематов и котлов при условии длительной поездки (более 10 дней.)</p>
	
	<p>
	Наше снаряжение регулярно стирается и обновляется. Воспользуйтесь нашими акциями и скидками на <a href="/"  style="text-decoration:none;">прокат туристического снаряжения</a> и на покупку нового снаряжения. 
	Приезжайте к нам в магазин чтоб заранее осмотреть снаряжение и забронировать(внести 30% от стоимости проката). 
	</p>
	<p>Будем рады вашим замечаниям и предложениям, касающихся проката и продажи снаряжения. </p>
	Прокат туристического снаряжения в Киеве, Ирпене, Буче для туризма и активного отдыха.
	
	</div></center>

								
	<table width="100%" cellpadding="0" cellspacing="0" border="0">		
	<tr bgcolor="#eaeaea">
       <td class="header-akcionnye-predlogenija" align="center" ><h1><a href="/akcionnye-tovary" style="color: #0B3C9B;text-decoration: none;font-size:30px"  rel="nofollow">Товары со скидкой </a></h1></td>
   	</tr>
	<tr>
		<td style="padding-left: 25px;" bgcolor="#eaeaea">
								{section name=i loop=$discont}
									<div class="box_car_div_empty">
	        	    					<table width="100%" height="100%" border="0" class="">
	        	    						<tr>
	        	    							<td style="padding: 8 0 0 0" valign="top"  valign="middle" align="center" rowspan="2">
	        	    								<a href="{$discont[i].url_name}"  rel="nofollow"><img border="0" title="{$discont[i].producer} {$discont[i].name}" alt="{$discont[i].name}" src="/products_pictures/{$discont[i].thumbnail}"> </a>
	        	    								<img src="/images/line-100x1.jpg" alt="line-100x11" title="line-100x11">	
	        	    							</td>
	        	    							<td  valign="top" class="opisanie-tovar-empty" align="justify">
	        	    								<a alt={$discont[i].producer} {$discont[i].name}" title="{$discont[i].producer} {$discont[i].name}" href="{$discont[i].url_name}"  rel="nofollow">{$discont[i].producer} {$discont[i].name}</a><br><br>
	        	    								{$discont[i].brief_description|strip_tags|truncate:90}
	        	    							</td>
	        	    						</tr>
	        	    						<tr>
	        	    							<td  align="right" class="cennik-fon-grey" valign="bottom">
	        	    								<strike>{$discont[i].list_price} грн</strike>&nbsp  <span style="color:red">{$discont[i].Price}</span>
	        	    							</td>
	        	    						</tr>
	        	    					</table>											
									</div>	
								{/section}	
		</td>
	</tr>
    </table>
    
</section>