{literal}
<script>

    $(document).ready(function(){
        var productCodeString = "{/literal}{$productCode}{literal}";
        var productInStock = "{/literal}{$in_stock}{literal}";

        if(productInStock > 0) {
            getSkladJsonPhp(productCodeString);
        }
    });

    function getSkladJsonPhp(productCodeString)
    {
        var size_arr = [];
        var colors_arr = [];
        {/literal}
            {if isset($size_arr)}{section name=i loop=$size_arr}{literal} size_arr[{/literal}{$smarty.section.i.iteration-1}{literal}] = {/literal} "{$size_arr[i]}";
            {/section}{/if}
        {literal}
        {/literal}
            {if isset($colors_arr)}{section name=y loop=$colors_arr}{literal} colors_arr[{/literal}{$smarty.section.y.iteration-1}{literal}] = {/literal} "{$colors_arr[y]}";
                {/section}{/if}
        {literal}

            // size_arr = $.toJSON(size_arr);
            // colors_arr = $.toJSON(colors_arr);

        $.ajax({
            type: "POST",
            url: "/public_scripts/ajax_sklad_get.php",
            data: {
                size_arr: size_arr,
                colors_arr: colors_arr,
                productCode: productCodeString,
                forSelect: 1
            },
            success: function(responseText){
                if( !$.isEmptyObject(responseText)) {
                    $("#sklad").show();
                    $("#skladContent").html(responseText);
                    $("#variantsOld").remove();
                    getSkladForCharacterList(productCodeString, size_arr, colors_arr);
                }
            }
        });

    }

       function getSkladForCharacterList(productCodeString, size_arr, colors_arr) {
                $.ajax({
                    type: "POST",
                    url: "/public_scripts/ajax_sklad_get.php",
                    data: {
                        size_arr: size_arr,
                        colors_arr: colors_arr,
                        productCode: productCodeString,
                        forCharacterList: 1
                    },
                    success: function(responseList){
                        if( !$.isEmptyObject(responseList)) {
                            $("#inSkladTRTag").show();
                            $("#inSkladTDTag").html(responseList);
                        }
                    }
                });
        }


</script>
    {/literal}

<span id="variantsOld">
    {if isset($size_arr)}
        <select onchange="" id="size_select">
            <option value="0">Выберите размер</option>
            {section name=i loop=$size_arr}
            <option value="{$size_arr[i]}">{$size_arr[i]}</option>

            {/section}
        </select><br><br>
    {/if}
    {if isset($colors_arr)}
        <select id="colors_select">
            <option value="0">Выберите цвет</option>
            {section name=i loop=$colors_arr}
            <option value="{$colors_arr[i]}">{$colors_arr[i]}</option>

            {/section}
        </select><br><br>
    {/if}
</span>

